@using System.Globalization
@using MVC_Final_Project.Models.ViewModel
@model SprintWorkList
@{ 
    var sprint = Model.SprintItem;
}
<style>
    .leftbox {
        border-left: 8px solid dodgerblue;
    }
    .leftbox-yellow {
        border-left: 8px solid khaki;
    }
    .plussign{
        font-size: 13pt;
        color: green;
        font-weight: 900;
    }
</style>

<div class="tblWork-container"><div class="tblWork-title"></div><div class="tblWork-details"></div></div>
<table role="grid" id="tblWork" class="table table-striped " cellspacing="0">
    <thead>
        <tr role="row">
            <th>
                Work Item
            </th>
            <th style="outline: none;" class="center">
                State
            </th>
            <th style="outline: none;" class="center">
                Signed To
            </th>
            <th style="outline: none;" class="center">

            </th>
            <th style="outline: none;" class="center">

            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var workItem in Model.Works)
    {
        <tr role="row">
            <td class="firstTd">
                <div class="addTaskItem" data-work="@workItem.WorkItem.workID" data-project="@ViewBag.projectID" style="display: flex; cursor: pointer">
                    <div class="plussign">+</div>
                    <span class="leftbox"></span>
                    <span style="margin-left: 10px">@workItem.WorkItem.workName</span>
                </div>
            </td>
            <td>
                @if (workItem.WorkItem.workState == 1)
                {
                    <span>New</span>
                }
                else if (workItem.WorkItem.workState == 2)
                {
                    <span>Done</span>
                }
                else if (workItem.WorkItem.workState == 3)
                {
                    <span>To Do</span>
                }
            </td>
            <td></td>
            <td><a class="updateWorkItem" data-work="@workItem.WorkItem.workID" data-project="@ViewBag.projectID">Edit</a></td>
            <td><a class="removeWorkItem" data-work="@workItem.WorkItem.workID" data-project="@ViewBag.projectID">Remove</a></td>
        </tr>
            foreach (var taskItem in workItem.Tasks)
            {
                if (taskItem.workID == workItem.WorkItem.workID)
                {
                    <tr>
                        <td>
                            <div style="display: flex; margin-left: 20px;">
                                <span class="leftbox-yellow"></span>
                                <span style="margin-left: 10px">@taskItem.taskName</span>
                            </div>
                        </td>
                        <td>
                            @if (taskItem.taskState == 1)
                            {
                                <span>New</span>
                            }
                            else if (taskItem.taskState == 2)
                            {
                                <span>Done</span>
                            }
                            else if (taskItem.taskState == 3)
                            {
                                <span>To Do</span>
                            }
                        </td>
                        <td>
                            @foreach (var user in ViewBag.userList)
                            {
                                if (taskItem.userID == user.userID)
                                {
                                    @user.userName
                                }
                            }
                        </td>
                        <td><a class="updateTaskItem" data-task="@taskItem.taskID" data-project="@ViewBag.projectID">Edit</a></td>
                        <td><a class="removeTaskItem" data-task="@taskItem.taskID" data-project="@ViewBag.projectID">Remove</a></td>
                    </tr>
                }
            }
    }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('.tblWork-title').html("<b>@sprint.sprintName</b><a id='addWorkItem' data-sprint='@sprint.sprintID' data-project='@ViewBag.projectID'>Add Work Items</a>");
        $('.tblWork-details').html("<a id='updateSprint' data-sprint='@sprint.sprintID'>Set Dates</a><span>@DateTime.ParseExact(sprint.startDate.ToString(), "dd/MM/yyyy h:mm:ss tt", CultureInfo.InvariantCulture).ToString("dd MMM yyyy") - @DateTime.ParseExact(sprint.endDate.ToString(), "dd/MM/yyyy h:mm:ss tt", CultureInfo.InvariantCulture).ToString("dd MMM yyyy")<span>");
        $('#addWorkItem').on('click', function () {
            var sprintID = $(this).data('sprint');
            var projectID = $(this).data('project');
            console.log(projectID);
            $.get('@Url.Action("AddWorkItemPartial", "Project")', { sprintID: sprintID, projectID: projectID }, function (result) {
                $('#modal').html(result);
            });
        });
        $('.addTaskItem').on('click', function () {
            var workID = $(this).data('work');
            var projectID = $(this).data('project');
            console.log(projectID);
            $.get('@Url.Action("AddTaskItemPartial", "Project")', { workID: workID, projectID: projectID }, function (result) {
                $('#modal').html(result);
            });
        });
        $('.updateWorkItem').on('click', function () {
            var workID = $(this).data('work');
            var projectID = $(this).data('project');
            $.get('@Url.Action("UpdateWorkItemPartial", "Project")', { workID: workID, projectID: projectID }, function (result) {
                $('#modal').html(result);
            });
        });
        $('.updateTaskItem').on('click', function () {
            var taskID = $(this).data('task');
            var projectID = $(this).data('project');
            $.get('@Url.Action("UpdateTaskItemPartial", "Project")', { taskID: taskID, projectID: projectID }, function (result) {
                $('#modal').html(result);
            });
        });
        $('#updateSprint').on('click', function () {
            var sprintID = $(this).data('sprint');
            $.get('@Url.Action("UpdateSprintPartial", "Project")', { sprintID: sprintID }, function (result) {
                $('#modal').html(result);
            });
        });
    });
</script>