
@using MVC_Final_Project.Models
@model Sprint

<style>
</style>

<div class="project-form-modal">
    <div id="projectForm">
        @using (Ajax.BeginForm("UpdateSprintData", "Project", new AjaxOptions { OnSuccess = "OnSuccess" }, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h3>Sprint</h3>
            <h4>Update</h4>
            <hr />
            @Html.HiddenFor(m => m.sprintID);
            @Html.HiddenFor(m => m.projectID);
            @Html.ValidationMessageFor(m => m.sprintName, String.Empty, new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.startDate, String.Empty, new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.endDate, String.Empty, new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.sprintName, "Sprint Name", new { @class = "control-label" })
                <div class="col-lg-12">
                    @Html.TextBoxFor(m => m.sprintName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.startDate, "Start Date", new { @class = "control-label" })
                <div class="col-lg-12">
                    @Html.TextBoxFor(m => m.startDate, "{0:dd MMMM yy}", new { @class = "form-control", id = "sprintStartDate" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.endDate, "End Date", new { @class = "control-label" })
                <div class="col-lg-12">
                    @Html.TextBoxFor(m => m.endDate, "{0:dd MMMM yy}",  new { @class = "form-control", id="sprintEndDate" })
                </div>
            </div>
            
            <div class="form-group flex-button">
                <div class="col-md-offset-7">
                    <input type="submit" value="Save and Close" class="btn btn-default" />
                </div>
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default">Close</button>
                </div>
            </div>
        }
    </div>
    <script>
        $(document).ready(function () {
            $('input[type=submit]').click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateSprintData", "Project")',
                    data: $('form').serialize(),
                    success: function (result) {
                        if (result.code === 1) {
                            window.location.href = "/Project?projectID=" + result.projectID + "&sprintID=" + result.sprintID;
                        }
                    },
                    error: function (result) {
                        $("#modal").html(result.responseText);
                    }
                });
            });
            $('button.btn.btn-default').click(function () {
                location.reload();
            });

            $("#sprintStartDate").datepicker({ dateFormat: 'dd MM yy' });
            $("#sprintEndDate").datepicker({ dateFormat: 'dd MM yy' });
        });
    </script>
</div>