@{
    ViewBag.Title = "Backlog Items";
    int currentCounter = 0;
    int pastCounter = 0;
    int futureCounter = 0;
    int? firstCurrentID = null;
}

<style>
.tblWork-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.tblWork-title {
    margin-left: 25px;
    margin-bottom: 5px;
}

.tblWork-title > b {
    font-size: 13pt;
}

.tblWork-title ~ div {
    margin-right: 10px;
}

.tblWork-title > * {
    display: block;
    text-align: left;
}

.tblWork-details > * {
    display: block;
    text-align: right;
}

#tblWork > tbody > tr > td > a {
    margin-right: 10px;
    cursor: pointer;
}

#tblWork td, #tblWork th {
    border: 0;
}

#tblWork th {
    font-size: 10pt;
    color: grey;
    font-weight: normal;
}

#tblWork > thead > tr > th:nth-child(1) {
    padding-left: 25px;
}
</style>

<div class="project">
    <h2>@ViewBag.Title - @ViewBag.projectName</h2>
    <div class="backlog-items">
        <div class="backlog-items-history">
            @foreach (var sprintItem in ViewBag.sprintList)
            {
                if (sprintItem.startDate > DateTime.Today)
                {
                    if (futureCounter == 0)
                    {
                        <span>Future</span>
                        if (firstCurrentID == null)
                        {
                            firstCurrentID = Convert.ToInt32(sprintItem.sprintID);
                        }
                    }
                    <a class="backlog-sprint-partial" data-id=@sprintItem.sprintID>@sprintItem.sprintName</a>
                    futureCounter++;
                }
                else if (sprintItem.endDate < DateTime.Today)
                {
                    if (pastCounter == 0)
                    {
                        <span>Past</span>
                        firstCurrentID = Convert.ToInt32(sprintItem.sprintID);
                    }
                    <a class="backlog-sprint-partial" data-id=@sprintItem.sprintID>@sprintItem.sprintName</a>
                    pastCounter++;
                }
                else if (sprintItem.startDate <= DateTime.Today && sprintItem.endDate >= DateTime.Today)
                {
                    if (currentCounter == 0)
                    {
                        <span>Current</span>
                        firstCurrentID = Convert.ToInt32(sprintItem.sprintID);
                    }
                    <a class="backlog-sprint-partial" data-id=@sprintItem.sprintID>@sprintItem.sprintName</a>
                    currentCounter++;
                }
            }
            @if (ViewBag.SprintID != null)
            {
                firstCurrentID = Convert.ToInt32(ViewBag.SprintID);
            }
        </div>

        <div class="backlog-items-work-items">

        </div>
    </div>
</div>
<div id="modal"></div>

<script>
    $(document).ready(function () {
        $('.backlog-sprint-partial').on('click', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            $.get('@Url.Action("SprintTable", "Project")', { sprintID: id }, function (result) {
                $('.backlog-items-work-items').html(result);
            });
        });
        $.get('@Url.Action("SprintTable", "Project")', { sprintID: @firstCurrentID }, function (result) {
            $('.backlog-items-work-items').html(result);
        });
    });
</script>