@using MVC_Final_Project.Models
@model Project

<style>
</style>

<div class="project-form-modal">
    <div id="projectForm">
        @using (Html.BeginForm("UpdateProjectAuth", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h3>Add Authorized User</h3>
            <hr />
            @Html.HiddenFor(x => x.projectID, new { @value = ViewBag.projectID });
            foreach (var x in ViewBag.userList)
            {
                if (x.userStatus == true)
                {
                    <div>
                        <label><input type="checkbox" name="authorizedUsers" value="@x.userID" checked>@x.userName</label>
                    </div>
                }
                else
                {
                    <div>
                        <label><input type="checkbox" name="authorizedUsers" value="@x.userID">@x.userName</label>
                    </div>
                }
            }

            <div class="form-group flex-button">
                <div class="col-md-offset-7">
                    <input type="submit" value="Save and Close" class="btn btn-default" />
                </div>
                <div class="col-md-10">
                    <button type="button" class="btn btn-default">Close</button>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $('button.btn.btn-default').click(function () {
        location.reload();
    });
</script>