@using MVC_Final_Project.Models
@model Project
<div class="project-form-modal">
    <div id="projectForm">
        @using (Ajax.BeginForm("CreateProject", "Home", new AjaxOptions { OnSuccess = "OnSuccess" }, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h3>Create Project</h3>
            <h4>
                Projects contain your source code, work items, and more
            </h4>
            <hr />
            @Html.ValidationMessageFor(m => m.projectName, String.Empty, new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.projectDesc, String.Empty, new { @class = "text-danger" })
            <div style="margin: auto;">
                <div class="form-group">
                    @Html.LabelFor(m => m.projectName, "Project Name", new { @class = "control-label" })
                    <br />
                    <div class="col-lg-12">
                        @Html.TextBoxFor(m => m.projectName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.projectDesc, "Project Description", new { @class = "control-label" })
                    <br />
                    <div class="col-lg-12">
                        @Html.TextBoxFor(m => m.projectDesc, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group flex-button">
                    <div class="col-md-offset-7">
                        <input type="submit" value="Save and Close" class="btn btn-default" />
                    </div>
                    <div class="col-md-10">
                        <button type="button" class="btn btn-default">Close</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $('input[type=submit]').click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: '@Url.Action("CreateProject", "Home")',
                dataType: "json",
                data: $('form').serialize(),
                success: function (result) {
                    if (result.code === 1) {
                        location.reload();
                    }
                },
                error: function (result) {
                    $("#modal").html(result.responseText);
                }
            });
        });
        $('button.btn.btn-default').click(function () {
            location.reload();
        });
    });
</script>