@using MVC_Final_Project.Models
@model User

@{
    List<SelectListItem> userRoleList = new List<SelectListItem>();
    userRoleList.Add(new SelectListItem
    {
        Text = "Admin",
        Value = "1",
        Selected = true
    });
    userRoleList.Add(new SelectListItem
    {
        Text = "User",
        Value = "2"
    });
}

<style>
</style>

<div class="user-form-modal">
    <div id="userForm">
        @using (Html.BeginForm("UpdateUser", "UserManagement", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h3>Edit User</h3>
            <h4>Edit User</h4>
            <hr />
            @Html.HiddenFor(m => m.userID);
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.userName, "Username", new { @class = "control-label" })
                <div class="col-lg-12">
                    @Html.TextBoxFor(m => m.userName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.userPassword, "New Password", new { @class = "control-label" })
                <div class="col-lg-12">
                    @Html.PasswordFor(m => m.userPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.userRole, "Role", new { @class = "control-label" })
                <div class="col-lg-12">
                    @Html.DropDownListFor(m => m.userRole, userRoleList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.userPhoto, "Photo", new { @class = "control-label" })
                <div class="col-lg-12">
                    <input type="file" name="file" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <label>@Html.CheckBoxFor(m => m.userStatus)Active</label>
                </div>
            </div>

            <div class="form-group flex-button">
                <div class="col-md-offset-7">
                    <input type="submit" value="Save and Close" class="btn btn-default" />
                </div>
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default">Close</button>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $('button.btn.btn-default').click(function () {
        location.reload();
    });
</script>
